
{% extends "layout.html" %}
{% block content %}
<div class="container my-5">
    <div id="carousel" class="carouselSlide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='carou1.avif')}}" class="d-block w-100" alt="..." />
          <div class="carousel-caption text-start">
            <h3>
              <blockquote class="blockquote mb-0">
                <h2>
                  Coffee makes me sing</h2>
                <footer class="blockquote-footer">Unknown</footer>
              </blockquote>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='carou2.avif')}}" class="d-block w-100" alt="..." />
          <div class="carousel-caption text-white">
            <h2>Come to our cafe
            </h2>
          </div>
        </div>

        <div class="carousel-item">
          <img src="{{ url_for('static', filename='carou3.avif')}}" class="d-block w-100" alt="..." />
          <div class="carousel-caption text-center ">
            <h2>Simple Joys 
            </h2>
          </div>
        </div>
        </div>
</div>
</div>
{% endblock content%}