{% extends "layout.html" %}
{% block content %}
<div class="container my-5">

    <div class="container aos-init aos-animate" data-aos="fade-up"  id="menu" class="menu">

     

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link show active" data-bs-toggle="tab" data-bs-target="#menu-coffee" aria-selected="true" role="tab">
            <h4>Coffee</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-sweets" aria-selected="false" role="tab" tabindex="-1">
            <h4>Sweets</h4>
          </a>
        </li>
      </ul>

      <div class="tab-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <div class="tab-pane fade active show" id="menu-coffee" role="tabpanel" id="menu">
          <br><br>

          <div class="row gy-5">
        {% for item in records %}

            <div class="col-lg-4 menu-item">
            <h4>{{  item.product  }}</h4>
            <p class="ingredients">
                {{ item.description}}
            </p>
            <p class="price">
              ${{ item.price }}
            </p>
            </div><!-- End Menu Item -->

        {% endfor %} 

          </div>
        </div><!-- End Coffee Menu -->


        <!-- Sweets Menu -->
        <div class="tab-pane fade" id="menu-sweets" role="tabpanel">
         <br> <br>
          <div class="row gy-5">

            {% for item in records %}

            <div class="col-lg-4 menu-item">
                <h4>{{  item.product2  }}</h4>
                <p class="ingredients">
                    {{ item.description2 }}
                </p>
                <p class="price">
                  ${{ item.price2 }}
                </p>
              </div><!-- Menu Item -->
        {% endfor %} 
              </div>
        </div><!-- End Sweets Menu -->
        </div><!-- End Menu -->

      </div>
    </div>
</div>

{% endblock content%}



